<section id="contacto">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">¡Quiero ayudar a encontrar mascotas!</h2>
        <hr class="my-4">
        <p class="mb-5">¿Te interesa la idea? Déjanos tu correo para recibir actualizaciones y nosotros te avisamos cuando la plataforma esté disponible. ¡Juntos podemos resolver este problema!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mx-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
        <p>
          <a href="mailto:contacto@tesel.tech">contacto@tesel.tech</a>
          <form method="POST" action="https://formspree.io/contacto@tesel.mx">
            <input name="email" placeholder="Tu correo" type="email">
            <textarea name="message" placeholder="Tu mensaje"></textarea>
            <button type="submit">Enviar</button>
          </form>
        </p>
      </div>
    </div>
  </div>
</section>
