<section id="solucion">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">¡EncuéntraPet al rescate!</h2>
          <hr class="my-4">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 ml-auto text-center">
          <div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/4oDBA3kNLKE?cc_load_policy=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="slides encuentrapet-slide-app d-flex">
    
  </section>

  <section id="como">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">¿Cómo funciona?</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-search-plus text-primary mb-3 sr-icon-1"></i>
            <h3 class="mb-3">Búsqueda optimizada</h3>
            <p class="text-muted mb-0">Nuestros poderosos algoritmos utilizan la información disponible, incluyendo fotos, GPS.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-thumbs-up text-primary mb-3 sr-icon-2"></i>
            <h3 class="mb-3">Fácil de usar</h3>
            <p class="text-muted mb-0">Ambos pueden ver las mascotas perdidas y encontradas en la zona.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-laptop-code text-primary mb-3 sr-icon-3"></i>
            <h3 class="mb-3">Tecnología</h3>
            <p class="text-muted mb-0">Automatizamos el proceso de reconocimiento de mascotas utilizando machine learning e inteligencia artificial.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-user-lock text-primary mb-3 sr-icon-4"></i>
            <h3 class="mb-3">Seguro</h3>
            <p class="text-muted mb-0">Solo pueden hablar dos personas que hayan sido empatadas.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  